body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	/*background: #494A5F;*/
	color: #D5D6E2;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}
a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}
a:hover,a:focus{color:#74777b;text-decoration: none;}

.demo{
		padding: 2em 0;
		transform: translate3d(0, 0, 0);
	}
	.navbar{
		width: 60px;
		height: 60px;
		line-height: 50px;
		border-radius: 50%;
		/*background: #fff;*/
		/*margin: 20px auto;*/
		position: relative;
		cursor: pointer;
		text-align: center;
		font-size: 1.75em;
		font-weight: bold;
		display: inline-block;
		color: #99b977;
		transition: 0.24s 0.2s;
	}
	.navbar:hover{
		/*background: rgba(255, 255, 255, 0.75);*/
	}
	.navbar .menu{
		list-style: none;
		padding: 0;
		/*margin-left: -45px;*/
		/*margin-top: -120px;*/
		position: absolute;
		top: -90px;
		left: -90px;
		border: 120px solid transparent;
		cursor: default;
		border-radius: 50%;
		transform: scale(0);
		/*transition: transform 1.4s 0.07s;*/
		z-index: 1;
		background: rgb(0, 0, 0, 0.5);
	}
	.navbar:hover .menu{
		transition: transform 0.4s 0.08s, z-index   0s  0.5s;
		transform: scale(1);
		z-index: 1;
	}
	.navbar .menu li{
		position: absolute;
		top: -80px;
		left: -80px;
		transform-origin: 80px 80px;
		transition: all 0.5s 0.1s;
	}
	.navbar:hover .menu li{
		transition: all 0.6s;
	}
	.navbar .menu li a{
		width: 60px;
		height: 60px;
		/*line-height: 60px;*/
		border-radius: 50%;
		/*background: #fff;*/
		position: absolute;
		font-size: 60%;
		color: #99b977;
		transition: 0.6s;
	}
	.navbar:hover .menu li:nth-child(1){
		transition-delay: 0.02s;
		transform: rotate(43deg);
	}
	.navbar:hover .menu li:nth-child(1) a{
		transition-delay: 0.04s;
		transform: rotate(315deg);
	}
	.navbar:hover .menu li:nth-child(2){
		transition-delay: 0.04s;
		transform: rotate(120deg);
	}
	.navbar:hover .menu li:nth-child(2) a{
		transition-delay: 0.08s;
		transform: rotate(240deg);
	}
	.navbar:hover .menu li:nth-child(3){
		transition-delay: 0.06s;
		transform: rotate(190deg);
	}
	.navbar:hover .menu li:nth-child(3) a{
		transition-delay: 0.12s;
		transform: rotate(530deg);
	}
	.navbar:hover .menu li:nth-child(4){
		transition-delay: 0.08s;
		transform: rotate(260deg);
	}
	.navbar:hover .menu li:nth-child(4) a{
		transition-delay: 0.16s;
		transform: rotate(460deg);
	}
	.navbar:hover .menu li:nth-child(5){
		transition-delay: 0.1s;
		transform: rotate(327deg);
	}
	.navbar:hover .menu li:nth-child(5) a{
		transition-delay: 0.2s;
		transform: rotate(390deg);
	}
	.navbar:hover .menu li:nth-child(6){
		transition-delay: 0s;
		transform: rotate(0deg);
	}
	.navbar:hover .menu li:nth-child(6) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}
	.navbar:hover .menu li:nth-child(7){
		/*transition-delay: 0s;*/
		left: -31px;
		top: -31px;
		/*transform: rotate(0deg);*/
	}
	.navbar:hover .menu li:nth-child(7) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}


